/* at 980 */
@media screen and (max-width: 980px) {
  .main-content h2 {
    font-size: 3.5rem;
  }
}

/* At screen width 768 */
@media screen and (max-width: 768px) {
  html {
    font-size: 57.5%;
  }

  .logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
  .logo > a > i {
    font-size: 4rem;
  }

  /* nav bar */
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .nav {
    z-index: 9999;
    background: #5e8ad3;
    height: auto;
    width: 100%;
    margin: 0;
  }
  .nav ul {
    flex-direction: column;
    font-size: 1.6rem;
  }
  .nav ul li {
    border-top: 0.1rem solid #3364b3;
  }
  .nav ul li a {
    width: 100%;
  }

  /* footer */
  .footer {
    flex-direction: column;
  }

  .disclaimer {
    width: 100%;
  }
  .desclaimer h3 {
    font-size: 2rem;
  }
  .disclaimer p {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .self {
    padding-top: 2rem;
    align-self: flex-start;
  }

  /* main content */
  .main-content {
    padding: 0 2rem;
  }
  .content {
    width: 80%;
  }

  .main-content h2 {
    font-size: 2.8rem;
  }
  .main-content p {
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  /* desclaimer */
  .desclaimer h3 {
    font-size: 1.8rem;
  }
  .disclaimer p {
    font-size: 1.5rem;
  }
  .self {
    font-size: 1.6rem;
  }

  /* temp scale */
  .temp-scale {
    display: block;
    margin-top: 1rem;
  }
  #temp {
    width: 100%;
  }
  /* report table */
  table {
    font-size: 1.4rem;
  }

  th,
  td {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 50.5%;
  }
}
